body{
  margin:0px;
  padding:0px;
  display: flex;
  justify-content: space-around;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 15px;
  text-align: center;
}
.item-1 , .item-3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:5px;
}
.box{
  border: 1px solid grey;
  border-radius: 10%;
  width:150px;
  height:250px;
}
.footer{
  margin-left : 80px;
  font-size : 18px;
}